mixin category(cl,name)
    div(class= cl + "__category") Home / 
        a(href="#")= name

mixin inputText(cl,label,asterisk)
    div(class= cl + "input-text")
        label(for="")!= label + asterisk
        input(type="text")

mixin footerService(title,services)
    h4= title
    ul
        each service in services
            li(class="fas fa-chevron-right")= service

mixin channel(...icons)
    each icon in icons
        li(class= "fab fa-" + icon)

mixin iconPay(icons) 
    each icon in icons
        li(class= "fab fa-cc-" + icon)

mixin cartItem(item)
    .cart-list-product__item
        img(src= item.img, alt="product").cart-list-product__item-img
        span.cart-list-product__item-name= item.name
        span.cart-list-product__item-price= item.price
        span.cart-list-product__item-amount
            p= item.amount
        span.cart-list-product__item-total= item.total
        span.cart-list-product__item-del
            p(class="fas fa-trash-alt")

mixin billItem(cl,title,price)
    div(class= "cart-bill__information-item" + " " + cl)
        .cart-bill__information-item-title= title
        .cart-bill__information-item-price= price